
$dark: #0A2C59;
$light: #DCE4F2;

.lightZone{
    background-color: $light;
    color: $dark;

    h1{
        border-bottom: solid $dark;
        font-size: 38px;
    }
}

.darkZone{
    background-color: $dark;
    color: $light;

    h1{
        border-bottom: solid $light;
        font-size: 38px;
    }
}